body {
  padding: 25px;
}

.dashboard-container{
  display: flex;
  min-height: 100%;
}

.toggle-button{
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__line {
  width: 30px;
  height: 2px;
  background: #000;
}

.header {
  padding: 10px;
  background-color: #edac42;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
}

.header h1 {
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: hidden;
}

.rio {
  margin-top: 20px;
}

.card-container {
  height: 88vh;
  overflow: scroll;
  border: 1px solid black;
}

.btn-card{
  color: #fff;
  margin-right: 8px;
  border-radius: 10px;
  width: 130px; 
}

.map-container {
  flex: 2;
}

.location-info-box {
  z-index: 9999;
  height: 100%;
  width: 100%;
}

.close-button {
  border: none;
  display: inline-block;
  padding: 5px 12px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  position: absolute;
  right: 0;
  font-size: large;
}

.footer-container {
  margin-top: 20px;
  display: flex;
  height: 70px;
  background-color: goldenrod;
}

.btn-left{
  width: 50%;
  background-color: goldenrod;
}

.btn-right{
  width: 50%;
  background-color: lightgray;
}


@media only screen and (max-width: 600px) {
  .dashboard-container{
    flex-direction: column;
  }

  .card-container {
    height: 37vh;
  }

  .map-container {
    padding-top: 1rem;
  }
}